{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
</head>
<body>
    <nav>
        <h2><a href="/">Dejection</a></h2>
        <ul>
            <li><a href="/tools/">Tools</a></li>
            <li><a href="/documentation/">Documentation</a></li>
            <li><a href="/cvss/">CVSS</a></li>
        </ul>
    </nav>
    <h1>Tools Page</h1>
    <form>
        <input type="text" id="input">
            <select id="vuln" name="vuln">
                <option value="sql">SQL Injection</option>
                <option value="command">Command Injection</option>
                <option value="xss">Cross-site Scripting</option>
            </select> 
    <input type="button" onclick="alert('Hello World!')" value="Attack"> 
    </form>
</body>
</html>
    <!-- <img style="width:10%"src="{% static 'img/dejection.jpg'%}" alt=""> -->