<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
</head>
<body>
    <p id="loading_status">Still Loading</p>
    <script>
        myInterval = setInterval(function(){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/tools/loading_info');
            xhr.onload = function() {
              if (xhr.status === 200) {
                if (xhr.responseText == "True")
                {
                    document.getElementById("loading_status").style.display = "block";
                }
                else if (xhr.responseText == "False")
                {
                    document.getElementById("loading_status").style.display = "none";
                    window.location.replace("/tools/result");
                    clearInterval(myInterval);
                }
                console.log(xhr.responseText);
              }
            };
            xhr.send();
          }, 1000);
    </script>
</body>
</html>